{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h3>Este formulário permite o UPLOAD de arquivo csv, sch-txt, ou zip contendo estes.</h3>
        <h4>Os arquivos serão processados e disponibilizados para análise de risco 
         e/ou para a montagem de uma base histórica. </h4>
        <div class="col-sm-12">
            <div class="form-group">
                <form action="/importa_base" method="post" enctype="multipart/form-data" id="frmrisco">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <h3>
                        <i>Selecione um arquivo no disco local</i>
                    </h3>
                    <label class="btn btn-default" for="planilhaold">
                        Clique para selecionar planilha
                    </label>
                    <input id="planilhaold" name="file" type="file" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)"
                    />
                    <big>
                        <span class='label label-success' id="upload-file-info"></span>
                    </big>
                    <h4>Indicar nome da Base que está sendo importada (obrigatório) e data (opcional)</h4>
                    <h4>
                        <label for="base">Base Original:{{baseid}}</label>
                    </h4>
                    <select class="form-control" name="base" id="base">
                        <option value="0">Selecionar</option>
                        {% for base in bases %}
                        <option value="{{ base.id }}" {% if base.id|int()==baseid|int() %} selected="selected" {% endif %}>{{ base.nome }}</option>
                        {% endfor %}
                    </select>
                    <h4>
                        <label for="data">Data inicial do período de extração:</label>
                    </h4>
                    <input class="form-control" type="date" id="data">
                    </input>
                    &nbsp;
                    <div class="input-group-btn">
                        <input class="btn btn-primary" type="submit" value="Submeter">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="bottom" class="row">
    AJNA - Receita Federal do Brasil 2017
</div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
</script> {% endblock %}