{% extends "bootstrap/base.html" %} {% block title %} AJNA - Bhadrasana - Visão computacional e Aprendizado de máquina na
vigilância aduaneira {% endblock %} {% block head %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/jquery-ui.min.css" rel="stylesheet">
<style>
    .table {
        margin: auto;
    }

    th,
    td {
        text-align: center;
        color: #333;
    }

    td:hover {
        background-color: rgba(207, 207, 207, 0.692)
    }

    .modal {
        text-align: center;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .modal-body-dif {
        max-height: calc(50vh - 150px);
        overflow-y: auto;
    }

    .row-clicked {
        background-color: rgba(207, 207, 207, 0.692);
    }

    .modal-body-dif {
        max-height: calc(80vh - 150px);
        overflow-y: auto;
    }

    .body {
        color: #E7E7E7;
        background-color: #036;
    }
</style>
{% endblock %} {% block scripts %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"> </script>
<script>
    $(document).ready(function () {
        status_url = '/api/task_progress/';
        {% for task_id in tasks %}
            update_progress(status_url + encodeURI("{{ task_id }}"));
        {% endfor %}
    });
    function update_progress(status_url, nanobar, status_div) {
        // send GET request to status URL
        $.getJSON(status_url, function (data) {
            console.log(data)
            $('#tasks_table tbody tr').remove();
            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS'  && data['state'] != 'STARTED') {
                console.log(data)
                if (data['state'] == 'FAILURE') {
                    $('<tr>').append(
                        $('<td>').text(data['status']),
                    ).appendTo('#tasks_table');
                } else {
                    window.location.assign(window.location.pathname+'?baseid={{baseid}}')
                }
            }
            else {
                if ('status' in data) {
                    $('<tr>').append(
                        $('<td>').text(data['status']),
                    ).appendTo('#tasks_table');
                    // rerun in 2 seconds
                    setTimeout(function () {
                        update_progress(status_url);
                    }, 2000);
                }
                else {
                    // something unexpected happened
                    console.log('Resposta inesperada consultando: ' + status_url)
                    console.log(data)
                }
            }
        });
    }
</script> {% endblock %} {% block navbar %} {{nav.mynavbar.render()}} {% endblock %} {% block content %} {{super()}}

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% if tasks and tasks|length > 0 %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <table id="tasks_table">
            <tbody>
            </tbody>
        </table>
    </div>
    {% endif %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}